<!doctype html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/kmadetect.min.css' %}" type="text/css"/>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>{% block title %} {% endblock %}</title>

</head>
<body>

<div id="page-container">
    <div class="jumbotron text-center " style="margin-bottom: 0px;">
        <div class="container" style="height: 50px;">
            <h1>Kiu-Virus</h1>
            <p>Đây là website phát hiện mã độc Android</p>
        </div>

    </div>

    <div id="content-wrap">
        {% block content_home %} {% endblock %}
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4 site-footer" id="footer" style="height: 20px">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left site-footer">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold">Thông tin </h5>
                    <p>Trang web nhằm giúp người dùng kiểm tra ứng dụng Android có phải là mã độc hay không sử dụng
                    công nghệ học máy</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-3">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold">Developers </h5>
                    <ul>
                        <li>Nguyễn Đức Trung - Email: ndtrung98@gmail.com</li>
                        <li>Mai Trọng Nghĩa- Email: maitrongnghia1998@gmail.com</li>
                        <li>Nguyễn Trọng Đức- Email:</li>
                    </ul>
                    <h4 lass="text-uppercase font-weight-bold"> Our sologan: Make our life better</h4>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 site-footer">© 2019 Copyright:
            <a href="http://actvn.edu.vn/"> KMA Detect</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</div>
</body>


</html>