{% extends  "pages/base.html" %}

{% block title %} Kiuvirus {% endblock %}

{% block content_home %}


<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'checkapk' %}">Kiểm tra file</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pagedownload' %}">Tải file Apk để kiểm thử</a>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a class="nav-lisnk" href="#">Link</a>-->
            <!--            </li>-->
        </ul>
    </div>
</nav>
<div class="col-md-12 " >
    <div class="text-center img">
        <img alt src="static/image/thumbprint.png" style="height: 5%; width: 5%"></img>
    </div>
    <div class="text-center ">
        <form method="post" class="uploadfile" action="{% url 'upload'  %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file"   id="input" name="fileApk" style="display: none;"/>
            <label for="input" style="border: 1px solid; color: white; backdrop-filter: brightness(50%); background: #4CAF50; padding: 10px;" >Upload file</label>
            <button id="submit" type="submit" class="buttonUpload btn-choose" style="display: none"></button>
        </form>
        {% if url %}
        <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
        {% endif %}
    </div>
    <script>
        document.getElementById('input').addEventListener("change", function (ev) {
            document.getElementById('submit').click();

        })

<!--    $(".btn-choose").click(function(){-->
<!--		$("input[type=file]").trigger("click");-->
<!--        console.log("Chon file!");-->

<!--    });-->
<!--    $('input[type=file]').change(function(){-->
<!--        $(".uploadfile").submit();-->
<!--		console.log("upfile!");-->

<!--    });-->


    </script>

</div>

{% endblock %}